* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 150px minmax(300px, 800px) 1fr;
}

.menu {
  grid-column: 3 / 5;
  margin: 2rem 0;
  background: #fb5;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  gap: 10px;
  color: #222;
  text-decoration: none;
  font-family: monospace;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 118px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}

.titulo {
  font-family: 'playfair display sc', Georgia, 'Times New Roman', Times, serif;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  grid-column: 1 / 4;
}

.animais h2 {
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  color: #e54;
}

.animais h2::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

.animais p {
  font-family: helvetica, arial;
  line-height: 1.2;
  margin: 1rem;
}

.animais-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.animais-lista::-webkit-scrollbar {
  width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb {
  background: #fb5;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.animais-lista::-webkit-scrollbar-track {
  background: #faf6ed;
}

.animais-descricao {
  grid-column: 3;
}

.animais-descricao section {
  margin-bottom: 3rem;
}

.faq-lista {
  grid-column: 2 / 4;
}

.faq-lista dt {
  font-family: monospace;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #e54;
}

.faq-lista dt::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

.faq-lista dd {
  font-family: helvetica, arial;
  margin-bottom: 0.5rem;
  margin-left: 30px;
}

.mapa {
  grid-column: 2;
}

.dados {
  grid-column: 3;
}

.dados li {
  margin-bottom: 1rem;
  font-family: Helvetica, arial;
}

.dados li::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

.copy {
  grid-column: 3 / 5;
  margin-bottom: 2rem;
  background: #fb5;
}

.copy p {
  padding: 20px;
  font-family: monospace;
  font-weight: bold;
  font-size: 1rem;
}

@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
  }

  .menu,
  .grid-section,
  .copy {
    grid-column: 1;
  }

  .grid-section {
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }

  .animais-lista {
    grid-column: 1;
  }

  .faq-lista,
  .dados,
  .mapa {
    grid-column: 1 / 3;
  }

  .grid-section h1 {
    font-size: 3rem;
  }

  .menu {
    margin-top: 0px;
  }
  .copy {
    margin-bottom: 0px;
  }
}
